.wf-footer {
    background: #fbfaf4d9;
    overflow-x: hidden;
}

.wf-footer a {
    color: #333;
}

.wf-footer-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px 30px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 1064px) {
    .wf-footer-content {
        flex-direction: row;
        padding: 70px 20px 50px 20px;
    }
}

.wf-footer-info {
    display: flex;
    justify-content: space-between;
    order: 2;
}

@media screen and (min-width: 1064px) {
    .wf-footer-info {
        display: block;
        order: 1;
    }
}

.wf-footer-logo {
    font-family: 'GothamBlack';
    font-size: 20px;
    line-height: 1.2;
}

@media screen and (min-width: 1064px) {
    .wf-footer-logo {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 45px;
    }
}

.wf-footer-logo-location {
    display: block;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Nuckle-Thin';
    color: #5B5A5A;
}

.wf-footer-managed-by, .wf-footer-management {
    display: block;
    line-height: 24px;
}

.wf-footer-managed-by {
    font-size: 14px;
    font-family: 'Nuckle-Medium';
}

@media screen and (min-width: 1064px) {
    .wf-footer-managed-by {
        font-size: 16px;
    }
}

.wf-footer-management {
    font-size: 12px;
    font-family: 'Nuckle-Regular';
    text-decoration: underline;
}

@media screen and (min-width: 1064px) {
    .wf-footer-management {
        font-size: 14px;
    }
}

.wf-footer-list {
    display: flex;
    order: 1;
    justify-content: space-between;
}

@media screen and (min-width: 1064px) {
    .wf-footer-list {
        display: flex;
        order: 2;
    }
}

.wf-footer-list-item {
    margin-left: 30px;
}

.wf-footer-list-item:first-child {
    margin-left: 0;
}

@media screen and (min-width: 1064px) {
    .wf-footer-list-item {
        margin-left: 60px;
    }

    .wf-footer-list-item:first-child {
        margin-left: 60px;
    }
}

.wf-footer-list-item-title {
    font-family: 'Nuckle-Thin';
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1064px) {
    .wf-footer-list-item-title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 15px;
    }
}

.wf-footer-list-item-list {
    font-family: 'Nuckle-Thin';
    font-size: 14px;
    line-height: 32px;
}

.wf-footer-list-item-list-item {
    margin-bottom: 10px;
}

@media screen and (min-width: 1064px) {
    .wf-footer-list-item-list-item {
        margin-bottom: 15px;
    }
}

.wf-footer-banner {
    background: #333333;
    color: #fff;
}

.wf-footer-banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 32px;
    max-width: 1400px;
    padding: 30px 20px 17px 20px;
    margin: 0 auto;
}

.wf-footer-banner-content .wf-footer-banner-email {
    text-decoration: underline;
    color: #fff;
    display: flex;
    align-items: center;
}

.wf-footer-banner-email svg {
    display: inline-block;
    margin-left: 20px;
}
