<div class="wf-breadcrumb">
    <ul class="wf-breadcrumb-list">
        <li class="wf-breadcrumb-list-item">
            <a class="wf-breadcrumb-link" href="#">
                <span class="wf-breadcrumb-link-text">Home</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6Z"/>
                </svg>
            </a>
        </li>
        <li class="wf-breadcrumb-list-item">
            <a class="wf-breadcrumb-link" href="#">
                <span class="wf-breadcrumb-link-text">Level 1</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6Z"/>
                </svg>
            </a>
        </li>
        <li class="wf-breadcrumb-list-item">
            <a class="wf-breadcrumb-link" href="#">
                <span class="wf-breadcrumb-link-text">Level 2</span>
            </a>
        </li>
    </ul>
</div>
