<footer class="wf-footer">
    <div class="wf-footer-content">
        <div class="wf-footer-info">
            <div class="wf-footer-logo">
                Wincopia<br>
                Farms
                <span class="wf-footer-logo-location">Laurel, Maryland</span>
            </div>
            <span class="wf-footer-managed-by">Property Management by</span>
            <span class="wf-footer-management">HPS Management</span>
        </div>
        <ul class="wf-footer-list">
            <li class="wf-footer-list-item">
                <h4 class="wf-footer-list-item-title"><a href="#">About Us</a></h4>
                <ul class="wf-footer-list-item-list">
                    <li class="wf-footer-list-item-list-item">
                        <a href="#">FAQs</a>
                    </li>
                </ul>
            </li>
            <li class="wf-footer-list-item">
                <h4 class="wf-footer-list-item-title"><a href="#">Our Community</a></h4>
                <ul class="wf-footer-list-item-list">
                    <li class="wf-footer-list-item-list-item">
                        <a href="#">HOA Committees</a>
                    </li>
                    <li class="wf-footer-list-item-list-item">
                        <a href="#">News and Events</a>
                    </li>
                    <li class="wf-footer-list-item-list-item">
                        <a href="#">Trash/Recycling Information</a>
                    </li>
                </ul>
            </li>
            <li class="wf-footer-list-item">
                <h4 class="wf-footer-list-item-title"><a href="#">Business Directory</a></h4>
                <ul class="wf-footer-list-item-list">
                    <li class="wf-footer-list-item-list-item">
                        <a href="#">Submit a business</a>
                    </li>
                </ul>
            </li>
            <li class="wf-footer-list-item">
                <h4 class="wf-footer-list-item-title"><a href="#">Contact Us</a></h4>
            </li>
        </ul>
    </div>
    <div class="wf-footer-banner">
        <div class="wf-footer-banner-content">
            <span class="wf-footer-banner-copyright">&copy Copyright 2022. Wincopia Farms HOA. Al Rights Reserved.</span>
            <a class="wf-footer-banner-email" href="#">
                <span class="wf-footer-banner-email-text">Email the HOA Board</span>
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.164 0 0 7.164 0 16C0 24.836 7.164 32 16 32C24.836 32 32 24.836 32 16C32 7.164 24.836 0 16 0ZM16 2.66667C23.352 2.66667 29.3333 8.648 29.3333 16C29.3333 23.352 23.352 29.3333 16 29.3333C8.648 29.3333 2.66667 23.352 2.66667 16C2.66667 8.648 8.648 2.66667 16 2.66667ZM10.6667 13.3333H13.3333V11.0773C13.3333 9.056 14.3973 8 16.7947 8H20V11.3333H18.0773C17.4613 11.3333 17.3333 11.5853 17.3333 12.2227V13.3333H20L19.76 16H17.3333V24H13.3333V16H10.6667V13.3333Z" fill="white"></path>
                </svg>
            </a>
        </div>
    </div>
</footer>