---
nav-items:
  - label: About Us
    path: /about-us
  - label: Our Community
    path: /our-community
  - label: Business Directory
    path: /board-of-directors
  - label: Contact Us
    path: /contact-us
---
<nav>
</nav>
