---
layout: 'base.njk'
---

<main class="wf-main" data-bg="true">

    <h1 class="Page-title">{{ title }}</h1>

    {% for module in modules %}
        {% include 'modules/module.njk' %}
    {% endfor %}

</main>
