<!-- Call-Out Grid -->
<div class="QuadStackList module-fullwidth">
    <ul class="QuadStackList-list">
        <li class="QuadStackList-list-item">
            <div class="PromoC">
                <h3 class="PromoC-title">Open Since</h3>
                <span class="PromoC-number">2015</span>
            </div>
        </li>
        <li class="QuadStackList-list-item">
            <div class="PromoC">
                <h3 class="PromoC-title">Single-Family</h3>
                <span class="PromoC-number">171</span>
            </div>
        </li>
        <li class="QuadStackList-list-item">
            <div class="PromoC">
                <h3 class="PromoC-title">Townhomes</h3>
                <span class="PromoC-number">49</span>
            </div>
        </li>
        <li class="QuadStackList-list-item">
            <div class="PromoC">
                <h3 class="PromoC-title">Open Fields</h3>
                <span class="PromoC-number">2</span>
            </div>
        </li>
    </ul>
</div>
