<div class="Newsletter module">
	<form class="Newsletter-form">
		{% if (module.title) %}
			<h3 class="Newsletter-title">{{module.title}}</h3>
		{% else %}
			<h3 class="Newsletter-title">Sign up for our newsletter</h3>
		{% endif %}

		<p class="Newsletter-description">
			{% if (module.description) %}
				{{module.description}}
			{% else %}
				We respect your privacy and do not tolerate spam and will never sell, rent,
				lease or give away your information (name, address, email, etc.) to any third party.
				Nor will we send you unsolicited email.
			{% endif %}
		</p>

		<label class="Newsletter-form-label" for="name">name</label>
		<input class="Newsletter-form-input" id="name" type="text" placeholder="Your name">

		<label class="Newsletter-form-label" for="email">email</label>
		<input class="Newsletter-form-input" id="email" type="text" placeholder="Your email">

		<button class="Newsletter-form-submit" type="submit">Subscribe</button>
	</form>

	<img class="Newsletter-media" src="../assets/images/newsletter.png" />
</div>
