.PromoBasic {
    padding: 20px;
    background: #379683;
    border-radius: 5px;
}

.PromoBasic-icon {
    margin-bottom: 55px;
}

.PromoBasic-title {
    font-family: "Nuckle-regular";
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .PromoBasic-title {
        font-size: 24px;
        line-height: 32px;
    }
}
