---
title: About Our Community
layout: base.njk
---

<img class="design" src="/assets/about-us.png" width="100%" usemap="#navmap">

<map id="navmap" name="navmap">
    <!-- Home -->
    <area shape="rect" coords="134,21,360,94" href="/" alt="Home">

    <!-- Nav -->
    <area shape="rect" coords="618,46,694,65" href="/about-us" alt="About Us">
    <area shape="rect" coords="728,46,860,65" href="/our-community" alt="Our Community">
    <area shape="rect" coords="893,46,1047,65" href="/board-of-directors" alt="Board of Directors">
    <area shape="rect" coords="1076,46,1170,65" href="/contact-us" alt="Contact Us">

    <!-- Promo -->
    <area shape="rect" coords="937,606,1302,829" href="/faq" alt="FAQ">

    <!-- Footer -->
    <area shape="rect" coords="473,2126,564,2143" href="/about-us" alt="About Us">
    <area shape="rect" coords="473,2180,515,2194" href="/faq" alt="FAQ">

    <area shape="rect" coords="662,2126,819,2143" href="/our-community" alt="Our Community">
    <area shape="rect" coords="662,2180,797,2194" href="/committees" alt="HOA Committees">

    <area shape="rect" coords="886,2126,1068,2143" href="/board-of-directors" alt="Board of Directors">

    <area shape="rect" coords="1133,2126,1243,2143" href="/contact-us" alt="Contact Us">

    <area shape="rect" coords="136,2292,260,2307" href="https://www.hpsmanagement.com/" alt="HPS" target="_blank">
</map>
