---
title: Board of Directors
layout: 'base.njk'
---

<main class="wf-main Board" data-bg="true">
    <div class="wf-breadcrumb">
        <ul class="wf-breadcrumb-list">
            <li class="wf-breadcrumb-list-item">
                <a class="wf-breadcrumb-link" href="#">
                    <span class="wf-breadcrumb-link-text">Home</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6Z"/>
                    </svg>
                </a>
            </li>
            <li class="wf-breadcrumb-list-item">
                <a class="wf-breadcrumb-link" href="#">
                    <span class="wf-breadcrumb-link-text">About Us</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6Z"/>
                    </svg>
                </a>
            </li>
            <li class="wf-breadcrumb-list-item">
                <a class="wf-breadcrumb-link" href="#">
                    <span class="wf-breadcrumb-link-text">Frequently Asked Questions</span>
                </a>
            </li>
        </ul>
    </div>
    <h1 class="Page-title">Board of Directors</h1>
    <div class="wf-Two-Column-Layout">
        <section class="wf-content">
            <p>The HOA Board of Directors consists of a maximum of five directors who are elected by the community, to two-year terms. Elections are held during the Annual HOA meeting to fill any vacancies on the Board of Directors. The members of the Board of Directors manage the affairs of the Association.</p>
            <p>The directors hold no official government office, and they have no authority beyond that defined in the HOA’s Bylaws. The Board considers matters that arise within the Community and otherwise handles the day-to-day operation of the HOA. As such, any issue that falls under the purview and responsibility of the HOA (see the Covenants and Bylaws) may be brought to the attention of the Board for consideration and resolution.</p>
        </section>
        <aside class="wf-aside">
            <div class="PromoF">
                <img src="../assets/images/cleanup.png" />
                <span class="PromoF-date">10 May 2022</span>
                <h3 class="PromoF-title">HOA Meeting</h3>
                <div class="PromoF-description">
                    <p>The Community Clean Up Weekend will happen April 24 & 25. We will also have 3 dumpsters located throughout the community for neighbors disposal of trash from the clean up as well as any spring cleaning you are doing. For more information and to sign up please visit http://bit.ly/WFCleanUp. Thank you for helping us keep our community clean!</p>
                </div>
            </div>
        </aside>
    </div>
</main>
