---
title: Frequently Asked Questions
layout: base.njk
---

<main class="wf-main" data-bg="true">

    {% include 'breadcrumb.njk' %}

    <h1 class="Page-title">{{ title }}</h1>

    {% set module = {
        'accordion_items': [
            {
                'label': 'How Do I contact the Board of Directors?',
                'content': 'Answer goes here'
            },
            {
                'label': 'How Do I contact the Board of Directors?',
                'content': 'Answer goes here'
            },
            {
                'label': 'How Do I contact the Board of Directors?',
                'content': 'Answer goes here'
            },
            {
                'label': 'How Do I contact the Board of Directors?',
                'content': 'Answer goes here'
            },
            {
                'label': 'How Do I contact the Board of Directors?',
                'content': 'Answer goes here'
            },
            {
                'label': 'How Do I contact the Board of Directors?',
                'content': 'Answer goes here'
            },
            {
                'label': 'How Do I contact the Board of Directors?',
                'content': 'Answer goes here'
            },
            {
                'label': 'How Do I contact the Board of Directors?',
                'content': 'Answer goes here'
            }
        ]
    } %}
    {% include 'modules/accordion.njk' %}

</main>
