---
title: Frequently Asked Questions
layout: 'base.njk'
---

<main class="wf-main" data-bg="true">
    <div class="wf-breadcrumb">
        <ul class="wf-breadcrumb-list">
            <li class="wf-breadcrumb-list-item">
                <a class="wf-breadcrumb-link" href="#">
                    <span class="wf-breadcrumb-link-text">Home</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6Z"/>
                    </svg>
                </a>
            </li>
            <li class="wf-breadcrumb-list-item">
                <a class="wf-breadcrumb-link" href="#">
                    <span class="wf-breadcrumb-link-text">About Us</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6Z"/>
                    </svg>
                </a>
            </li>
            <li class="wf-breadcrumb-list-item">
                <a class="wf-breadcrumb-link" href="#">
                    <span class="wf-breadcrumb-link-text">Frequently Asked Questions</span>
                </a>
            </li>
        </ul>
    </div>
    <h1 class="Page-title">Frequently Asked Questions</h1>
    <div class="Accordion module">
        <ul class="Accordion-list">
            <li class="Accordion-list-item" data-open="true">
                <h3 class="Accordion-question">
                    <span class="Accordion-question-text">How Do I contact the Board of Directors?</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z"/></svg>
                </h3>
                <div class="Accordion-answer">
                    Answer goes here
                </div>
            </li>
            <li class="Accordion-list-item">
                <h3 class="Accordion-question">
                    <span class="Accordion-question-text">How Do I contact the Board of Directors?</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z"/></svg>
                </h3>
                <div class="Accordion-answer">
                    Answer goes here
                </div>
            </li>
            <li class="Accordion-list-item">
                <h3 class="Accordion-question">
                    <span class="Accordion-question-text">How Do I contact the Board of Directors?</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z"/></svg>
                </h3>
                <div class="Accordion-answer">
                    Answer goes here
                </div>
            </li>
            <li class="Accordion-list-item">
                <h3 class="Accordion-question">
                    <span class="Accordion-question-text">How Do I contact the Board of Directors?</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z"/></svg>
                </h3>
                <div class="Accordion-answer">
                    Answer goes here
                </div>
            </li>
            <li class="Accordion-list-item">
                <h3 class="Accordion-question">
                    <span class="Accordion-question-text">How Do I contact the Board of Directors?</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z"/></svg>
                </h3>
                <div class="Accordion-answer">
                    Answer goes here
                </div>
            </li>
            <li class="Accordion-list-item">
                <h3 class="Accordion-question">
                    <span class="Accordion-question-text">How Do I contact the Board of Directors?</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z"/></svg>
                </h3>
                <div class="Accordion-answer">
                    Answer goes here
                </div>
            </li>
            <li class="Accordion-list-item">
                <h3 class="Accordion-question">
                    <span class="Accordion-question-text">How Do I contact the Board of Directors?</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z"/></svg>
                </h3>
                <div class="Accordion-answer">
                    Answer goes here
                </div>
            </li>
            <li class="Accordion-list-item">
                <h3 class="Accordion-question">
                    <span class="Accordion-question-text">How Do I contact the Board of Directors?</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z"/></svg>
                </h3>
                <div class="Accordion-answer">
                    Answer goes here
                </div>
            </li>
        </ul>
    </div>
</main>