---
title: Homepage
layout: base.njk
---

<main class="wf-main">

    {% include 'breadcrumb.njk' %}

    <div class="LeadA">
        <img class="LeadA-image" src="../assets/images/home-lead-1.png" />
        <img class="LeadA-mask" src="../assets/images/home-lead-1-mask.png" />
        <div class="LeadA-content">
            <h1 class="LeadA-title">Welcome Home</h1>
            <p class="LeadA-description">Located in Howard County’s southeastern side, Wincopia Farms is a tight knit community of families of 220 homeowners. Our community of 171 single-family and 49 townhomes is ideally located on 124 acres.</p>
        </div>
    </div>

    <div class="TripleStackList module">
        <ul class="TripleStackList-list">
            <li class="TripleStackList-list-item">
                <div class="PromoBasic">
                    <a class="PromoBasic-Link" href="#">
                        <div class="PromoBasic-icon">
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24 12.073C24 5.40365 18.629 0 12 0C5.37097 0 0 5.40365 0 12.073C0 18.1095 4.35484 23.1237 10.1129 24V15.5781H7.06452V12.073H10.1129V9.44422C10.1129 6.42596 11.9032 4.72211 14.6129 4.72211C15.9677 4.72211 17.3226 4.96552 17.3226 4.96552V7.93509H15.8226C14.3226 7.93509 13.8387 8.86004 13.8387 9.83367V12.073H17.1774L16.6452 15.5781H13.8387V24C19.5968 23.1237 24 18.1095 24 12.073Z" fill="#fff"/>
                            </svg>
                        </div>
                        <h3 class="PromoBasic-title">Wincopia Farms<br> Family Facebook Group</h3>
                    </a>
                </div>
            </li>
            <li class="TripleStackList-list-item">
                <div class="PromoBasic">
                    <a class="PromoBasic-Link" href="#">
                        <div class="PromoBasic-icon">
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24 12.073C24 5.40365 18.629 0 12 0C5.37097 0 0 5.40365 0 12.073C0 18.1095 4.35484 23.1237 10.1129 24V15.5781H7.06452V12.073H10.1129V9.44422C10.1129 6.42596 11.9032 4.72211 14.6129 4.72211C15.9677 4.72211 17.3226 4.96552 17.3226 4.96552V7.93509H15.8226C14.3226 7.93509 13.8387 8.86004 13.8387 9.83367V12.073H17.1774L16.6452 15.5781H13.8387V24C19.5968 23.1237 24 18.1095 24 12.073Z" fill="#fff"/>
                            </svg>
                        </div>
                        <h3 class="PromoBasic-title">Wincopia Farms<br> Family Facebook Group</h3>
                    </a>
                </div>
            </li>
            <li class="TripleStackList-list-item">
                <div class="PromoBasic">
                    <a class="PromoBasic-Link" href="#">
                        <div class="PromoBasic-icon">
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24 12.073C24 5.40365 18.629 0 12 0C5.37097 0 0 5.40365 0 12.073C0 18.1095 4.35484 23.1237 10.1129 24V15.5781H7.06452V12.073H10.1129V9.44422C10.1129 6.42596 11.9032 4.72211 14.6129 4.72211C15.9677 4.72211 17.3226 4.96552 17.3226 4.96552V7.93509H15.8226C14.3226 7.93509 13.8387 8.86004 13.8387 9.83367V12.073H17.1774L16.6452 15.5781H13.8387V24C19.5968 23.1237 24 18.1095 24 12.073Z" fill="#fff"/>
                            </svg>
                        </div>
                        <h3 class="PromoBasic-title">Wincopia Farms<br> Family Facebook Group</h3>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="LargePromoWithList module">
        <h3 class="LargePromoWithList-title">Inside Wincopia</h3>
        <div class="LargePromoWithList-content">
            <div class="PromoA">
                <a class="PromoA-link" href="#">
                    <img class="PromoA-media" src="../assets/images/cleanup.png" />
                    <span class="PromoA-date">24-24 April 2022</span>
                    <h3 class="PromoA-title">Community Clean-Up Day</h3>
                    <p class="PromoA-description">The Community Clean Up Weekend will happen April 24 & 25. We will also have 3 dumpsters located throughout the community for neighbors disposal of trash from the clean up as well as any spring cleaning you are doing. For more information and to sign up please visit http://bit.ly/WFCleanUp. Thank you for helping us keep our community clean!</p>
                </a>
            </div>
            <ul class="LargePromoWithList-list">
                <li  class="LargePromoWithList-list-item">
                    <div class="PromoB">
                        <a class="PromoB-link" href="#">
                            <img class="PromoB-media" src="../assets/images/small-placeholder.png" />
                            <div class="PromoB-text">
                                <h4 class="PromoB-title">Title</h4>
                                <span class="PromoB-date">19 aug 2023</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li  class="LargePromoWithList-list-item">
                    <div class="PromoB">
                        <a class="PromoB-link" href="#">
                            <img class="PromoB-media" src="../assets/images/small-placeholder.png" />
                            <div class="PromoB-text">
                                <h4 class="PromoB-title">Title</h4>
                                <span class="PromoB-date">19 aug 2023</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li  class="LargePromoWithList-list-item">
                    <div class="PromoB">
                        <a class="PromoB-link" href="#">
                            <img class="PromoB-media" src="../assets/images/small-placeholder.png" />
                            <div class="PromoB-text">
                                <h4 class="PromoB-title">Title</h4>
                                <span class="PromoB-date">19 aug 2023</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li  class="LargePromoWithList-list-item">
                    <div class="PromoB">
                        <a class="PromoB-link" href="#">
                            <img class="PromoB-media" src="../assets/images/small-placeholder.png" />
                            <div class="PromoB-text">
                                <h4 class="PromoB-title">Title</h4>
                                <span class="PromoB-date">19 aug 2023</span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% include 'modules/call_out_grid.njk' %}

    {% include 'modules/newsletter_signup.njk' %}

</main>
