---
title: Homepage
layout: 'base.njk'
---

<img class="design" src="/assets/home.png" width="100%" usemap="#navmap">

<map id="navmap" name="navmap">
    <!-- Home -->
    <area shape="rect" coords="134,21,360,94" href="/" alt="Home">

    <!-- Nav -->
    <area shape="rect" coords="618,46,694,65" href="/about-us" alt="About Us">
    <area shape="rect" coords="728,46,860,65" href="/our-community" alt="Our Community">
    <area shape="rect" coords="893,46,1047,65" href="/board-of-directors" alt="Board of Directors">
    <area shape="rect" coords="1076,46,1170,65" href="/contact-us" alt="Contact Us">

    <!-- Footer -->
</map>
