body {
    margin: 0;
}

img.design {
    max-width: 1440px;
}

nav {
    text-align: center;
}

/* FONTS */
@font-face  {
    src: url('/fonts/vidaloka.ttf');
    font-family: vidaloka;
}

/* HEADER */
#brand {
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    font-family: Gotham Black, sans-serif;
}

#log-in {
    background: #BA9B42;
    border-radius: 3px;
    border: none;
}

#header-bg {
    background: rgba(255, 255, 255, 0.75);
}

a#dropdownMenuLink.nav-link.dropdown-toggle.show {
    border-bottom: 3px solid rgb(0, 118, 255);
    color: rgb(0, 118, 255);
}
/* HEADER */


/* PROMO-CARD */
#green-box {
    background: #379683;
    border-radius: 7px;
}

#a {
    text-decoration: none !important;
    color: white !important;
}

#trash-icon {
    width: 42px;
    height: 46px;
}

#newsletter-icon {
    width: 47.12px;
    height: 46px;
}

#facebook-icon {
    width: 47.12px;
    height: 45.72px;
}
/* PROMO-CARD */

/* OVERLAP */
#card {
    background-color: #EDF5E1; border-radius: 7px;
}
/* OVERLAP */

/* FOOTER */
#wincopia-farms-brand {
    font-weight: 700;
    font-family: Arial, sans-serif;
}

#footer {
    background: linear-gradient(0deg, rgba(186, 155, 66, 0.05), rgba(186, 155, 66, 0.05)), #FFFFFF;
}

.link-secondary {
    text-decoration: none;
}
/* FOOTER */
